@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&family=Roboto:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rajdhani", sans-serif;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-image: url(../img/premium_photo-1683121713210-97667d2e83c8.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  font-size: 1.2em;
}
body .section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
body .card {
  row-gap: 10px;
  background-color: #742222;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 5px;
  color: aqua;
  width: 100%;
}
body .card .card p {
  font-family: "Rajdhani", sans-serif;
  margin: 5px 0;
}

.section2 {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: rgb(179, 98, 66);
  font-size: 1em;
  justify-content: center;
  width: 50%;
  height: fit-content;
  margin-right: auto;
  padding-left: 10px;
  font-family: "Rajdhani", sans-serif;
  align-items: center;
  justify-content: center;
}
.section2 #arrayContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  border: 2px solid rgb(179, 98, 66);
  box-shadow: 0 0 10px rgba(179, 98, 66, 0.5);
  border-radius: 10px;
}
.section2 h1 {
  font-weight: bolder;
}

#busquedaButton, .card-btn {
  font-family: "Rajdhani", sans-serif;
  font-weight: bolder;
  font-size: 13px;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  color: rgb(179, 98, 66);
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid #fff;
  border-radius: 50px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
  width: 80px;
  height: 2%;
  z-index: 10;
}
#busquedaButton:hover, .card-btn:hover {
  border: 1px solid #cab4c5;
  color: #84ff80 !important;
}
#busquedaButton::before, .card-btn::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: rgb(58, 47, 61);
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
#busquedaButton::after, .card-btn::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #80ffd3;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
#busquedaButton:hover::before, .card-btn:hover::before {
  opacity: 1;
  width: 116%;
}
#busquedaButton:hover::after, .card-btn:hover::after {
  opacity: 1;
  width: 120%;
}

#searchOpt, #inputContainer input {
  font-family: "Rajdhani", sans-serif;
  font-weight: bolder;
  font-size: 1em;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  color: rgb(213, 238, 69);
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid #fff;
  border-radius: 50px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgb(32, 32, 32);
  z-index: 10;
}

/*# sourceMappingURL=main.css.map */
