@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-image: url(../img/premium_photo-1683121713210-97667d2e83c8.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    font-size: 1.2em;

    .section1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
          }

